* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: black; }

.contenedor {
  width: 90%;
  max-width: 1980px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  border-radius: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-content: space-evenly; }

.contenedor > div,
.contenedor footer,
.contenedor .cuerpo,
.contenedor .imagenes,
.contenedor .videos,
.contenedor .lista,
.contenedor .contacto {
  padding: 20px; }

a {
  color: #fff;
  text-align: center; }

h3, h5, p {
  text-align: center; }

.boton {
  padding: 20px;
  text-align: center; }

.contenedor .contenido video {
  width: 100%;
  height: 400px; }

.dibujo-scanner {
  position: absolute;
  margin-top: 120px;
  margin-right: 50px;
  margin-bottom: 70px;
  margin-left: 50px;
  height: 30px;
  width: 30px; }

.laser-leftTop {
  top: 0;
  left: 0;
  border-top: solid red 5px;
  border-left: solid red 5px; }

.laser-leftBottom {
  bottom: 0;
  left: 0;
  border-bottom: solid red 5px;
  border-left: solid red 5px; }

.laser-rightTop {
  top: 0;
  right: 0;
  border-top: solid red 5px;
  border-right: solid red 5px; }

.laser-rightBottom {
  bottom: 0;
  right: 0;
  border-bottom: solid red 5px;
  border-right: solid red 5px; }

header {
  background: #37474F;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1; }

nav {
  background: #37474F; }
  nav a:hover {
    background-color: #90A4AE; }

.cuerpo,
.lista {
  grid-column: span 4; }
  .cuerpo .card .card-header,
  .lista .card .card-header {
    background: #546E7A;
    color: #fff; }
  .cuerpo .card .card-footer,
  .lista .card .card-footer {
    background: #90A4AE; }
  .cuerpo img,
  .lista img {
    width: 90%; }

.imagenes {
  grid-column: span 4; }
  .imagenes .card .card-header {
    background: #546E7A;
    color: #fff; }
  .imagenes .card .card-footer {
    background: #90A4AE; }

.videos {
  grid-column: span 4; }
  .videos .card .card-header {
    background: #546E7A;
    color: #fff; }
  .videos .card .card-footer {
    background: #90A4AE; }

footer {
  background: #546E7A;
  color: #fff;
  grid-column: span 4;
  text-align: center; }

.contacto {
  background: #90A4AE;
  color: #fff;
  grid-column: span 4;
  text-align: center; }

@media (max-width: 768px) {
  .contenedor {
    grid-column-start: 1;
    grid-column-end: -1; }
    .contenedor .imagenes {
      grid-column-start: 1;
      grid-column-end: -1; }
      .contenedor .imagenes .card .card-header {
        background: #546E7A;
        color: #fff; }
      .contenedor .imagenes .card .card-footer {
        background: #90A4AE; }
    .contenedor .eventos {
      grid-column-start: 1;
      grid-column-end: -1; }
      .contenedor .eventos .card .card-header {
        background: #546E7A;
        color: #fff; }
      .contenedor .eventos .card .card-body {
        max-width: 100%;
        height: auto; }
      .contenedor .eventos .card .card-footer {
        background: #90A4AE; }

  .videos {
    grid-column-start: 1;
    grid-column-end: -1; }
    .videos .card .card-header {
      background: #546E7A;
      color: #fff; }
    .videos .card .card-footer {
      background: #90A4AE; } }

/*# sourceMappingURL=estilos.css.map */
