*
    margin: 0
    padding: 0

body
    background-color: #fff
    color: black

.contenedor
    width: 90%
    max-width: 1980px
    margin: 20px auto
    display: grid
    grid-gap: 20px
    border-radius: 4px
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, auto)
    justify-content: space-evenly

.contenedor>div,
.contenedor footer,
.contenedor .cuerpo,
.contenedor .imagenes,
.contenedor .videos,
.contenedor .contacto
    padding: 20px

a
    color: #fff
    text-align: center

h3, h5, p
    text-align: center

.boton
    padding: 20px
    text-align: center

.dibujo-scanner
    position: absolute
    margin-top: 70px
    margin-right: 10px
    margin-bottom: 10px
    margin-left: 10px
    height: 30px
    width: 30px
.laser-leftTop
    top: 0
    left: 0
    border-top: solid red 5px
    border-left: solid red 5px
.laser-leftBottom
    bottom: 0
    left: 0
    border-bottom: solid red 5px
    border-left: solid red 5px 
.laser-rightTop
    top: 0
    right: 0
    border-top: solid red 5px
    border-right: solid red 5px    
.laser-rightBottom
    bottom: 0
    right: 0
    border-bottom: solid red 5px
    border-right: solid red 5px 