.cuerpo,
.lista
    grid-column: span 4
    .card
        .card-header
            background: $segundo
            color: #fff
        .card-footer
            background: $tercero    
    img
        width: 90%